@import url(https://fonts.googleapis.com/css?family=Francois+One|Anton|Archivo+Black);

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0 !important;
}

header,
footer {
  background-color: #2d3e50;
}

header {
  color: #fff;
}

header .inside {
  margin: 0 !important;
}

header .panel-col-first {
  text-align: center;
  margin: 19px 0;
}

header .panel-col-first a {
  display: block;
}

header .panel-col-first a img {
  border-radius: 50%;
  width: 35px;
}

header .panel-col-last {
  margin: 15px 0;
}

header .panel-col-last ul {
}

header .panel-col-last ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  background-color: #49c9b0;
  border-radius: 2px;
}

header .panel-col-last ul li a {
  text-decoration: none;
  color: #fff;
}

section h2,
section h3 {
  text-align: center;
}

section#quote-slider,
section#wtf,
section#team {
  background-color: #49c9b0;
}

section#its-ok {
  background-color: #d05f61;
}

section#add-quote h2,
section#t-shorts h2,
section#contacts h2,
section#add-quote h3,
section#t-shorts h3,
section#contacts h3 {
  color: #49c9b0;
}

section#its-ok h2,
section#wtf h2,
section#team h2 {
  color: #fff;
}
